
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.vehicle_detail{
	margin-bottom: 30px;
}
#repair_history,
#fuel_entry_history,
#trip_history{
	padding:1.25rem;
}